<!DOCTYPE html>
<html>
<head>
  <title>Boncoin</title> 
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"  
  
</head>
<body>

<%= yield %>

</body>
</html>
